
/* DEFINING THE UNIVERSAL SELECTOR */

* {
  box-sizing: border-box;
  /*margin: 0;*/
}

body {
  margin: 0;
}



/* STEP 1 - STYLING THE HEADER */

header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 1em 0;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 5;
  margin-top: 0;
}

.logo {
  flex-grow: 1;
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

div.logo img  {
  padding-left: 30px;
}

div.logo span {
  padding-left: 15px;
}

header nav {
  padding: 0 20px;
}

header nav span {
  padding-right: 25px;
}

header nav span a {
  color: black;
}



 /* STARTING STEP 3 - Setting basic columns and text */

/*div {
  border: 1px solid black;
}*/

.main {
  display: flex;
  justify-content: flex-start;
  /*justify-content: center;*/
  padding-top: 116px;
  width: 1310px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.cookie {
  display: block;
  max-width: 100%;
}



/* STEP 4 - Adding images */

.img-story-main, .img-story-2, .img-story-3, .img-story-1 {
  height: 300px;
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.img-story-main {
  background: url("img-story-main.png");
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}

.img-story-2 {
  background: url("img-story-2.png");
}

.img-story-3 {
  background: url("img-story-3.png");
}

.img-story-1 {
  background: url("img-story-1.png");
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}



/* STEP 5 - Splitting two articles in a row */


.split-to-row {
  display: flex;
  justify-content: space-between;
}

.column-small {
  width: 300px;
  height: 565px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-image-text {
  text-align: center;
}


/* STEP 6 - Styling the News Bites section */

.news-bites {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

div.news-bites span {
  padding: 1em 2em;
  border-bottom: 1px solid black;
}

#news-bites-heading {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}



/* STEP 7 - Styling the footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  padding: 10em;
}

.my-times {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer span {
  padding: 1em;
}

.footer-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: black;
}
