
/* CSS Styling der Hauptelemente */

body {
  margin: 0;
}

header {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  border-bottom: 1px solid black;
}

img {
  padding-left: 1.5em;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 2em;
}

nav span a {
  color: black;
  padding: 1em;
}

main {
  display: flex;
  justify-content: center;
}

.nav-item-2 {
  color: MediumAquamarine;
  padding-left: 1em;
  margin-right: auto;
  align-items: center;
}

.column {
  border: 1px solid black;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
